.more-on-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  overflow-x: scroll;
}

.more-on-lists {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-bottom: 0.5rem;
}

.more-from-title {
  min-width: 200px;
  font-weight: 500;
}

@media only screen and (min-width: 1200px) {
  .more-on-wrapper {
    overflow: hidden;
  }

  .more-from-title {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1300px) {
  .more-from-title {
    font-size: 1.15rem;
  }
}
