.main-list-container,
.secondary-list-container {
  flex-direction: column;
  gap: 1.75rem;
}

.main-list,
.secondary-list {
  font-weight: 500;
  text-transform: capitalize;
}

.main-list:first-child {
  margin-top: 4.25rem;
}

.secondary-list:first-child {
  margin-top: 1.75rem;
}

.secondary-list:last-child {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.orange-txt {
  color: var(--clr-orange);
}

@media only screen and (min-width: 1200px) {
  .nav-lists {
    flex-direction: row;
    align-items: center;
  }

  .main-list-container,
  .secondary-list-container {
    flex-direction: row;
    align-items: center;
  }

  .secondary-list-container {
    margin-left: auto;
    font-size: 0.9rem;
  }

  .main-list,
  .secondary-list {
    font-weight: 400;
  }

  .secondary-list:first-child {
    margin-top: 0;
  }

  .main-list:first-child {
    margin-top: 0;
  }

  .secondary-list:first-child {
    color: var(--clr-blue);
  }

  .secondary-list:last-child {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 1200px) {
  .secondary-list-container {
    font-size: 1.125rem;
  }

  .secondary-list:last-child {
    font-size: 1rem;
  }
}
