.nav-components {
  background-color: var(--clr-blue);
  color: #fff;
  font-size: 1.125rem;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  padding: 1.5rem;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

.item-position {
  transform: translateY(0%);
}

.more-text {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .nav-components {
    position: static;
    padding: 0 15px 0 0;
    color: black;
    background-color: #fff;
    display: flex;
    gap: 1.75rem;
    align-items: center;
    transform: unset;
    padding-left: 0;
    z-index: 0;
    grid-column: 2/-1;
    font-size: 1rem;
  }

  .more-text {
    display: block;
    font-size: 1rem;
    color: var(--clr-orange);
    cursor: pointer;
    font-weight: 400;
  }
}

@media only screen and (min-width: 1300px) {
  .nav-components {
    font-size: 1.125rem;
  }

  .more-text {
    font-size: 1.125rem;
  }
}
